@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Списък с роли";
}

<h2>Списък с роли</h2>

<a asp-action="Create" class="btn btn-success">Добавяне на роля</a>
<a asp-controller="Account" asp-action="ListUsers" class="btn btn-primary ms-2">Управление на потребители</a>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Име на ролята</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@role.Id" class="btn btn-warning">Редактирай</a>
                    <a asp-action="Delete" asp-route-id="@role.Id" class="btn btn-danger">Изтрий</a>
                </td>
            </tr>
        }
    </tbody>
</table>
